@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin:0;
  background-color: rgb(34, 34, 34);
  font-family: 'Poppins', sans-serif;
}

nav ul {
  background-color:rgba(34, 34, 34, .8);
  padding: 1em;
  width: 100%;
  position:fixed;
}

nav a {
  text-decoration: none;
  padding: 1em;
  color: white;
  font-size: 1.5rem;
}

nav a:hover {
  font-weight: bold;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

#img-ul{
  
}

.img-li{
  height: 30vh;
  flex-grow: 1;
}

img {
 max-height: 100%;
 min-width: 100%;
 object-fit: cover;
 vertical-align: bottom;
}

#about-box {
  color: white;
  padding: 1em;
  padding-bottom: 2em;
}

@media (min-width: 1500px) {
  #about-box {
    width: 75%;
    margin: 0 auto;
  }
}

nav {
  height: 4em;
}

#contact {
  background-color: rgb(226, 226, 226);
  text-align: center;
  color:rgb(36, 36, 36);
  padding: .5em;
}

#contact p {
  margin: 0;
  padding: .5em;
}